@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   font-family: 'Poppins' !important;
   font-weight: 700 !important;
   background-color: #1B2022 !important;
   text-align: center;
   color: #FFFFFF
}

h2 {
   padding: 10px 20px;
}

h3 {
   padding-top: 5rem;
   font-size: 2.5em;
}

.menuText {
   color: white;
}

.text-center {
   padding-top: 1rem;
}

.wrapper {
   display: flex;
   justify-content: center;
}

.box {
   width: 50px;
   height: 50px;
   background-color: #2B90C1;
}

.box:hover {
   background: #164258 !important;
}

.dark {
   background-color: #267EA8;
}

.guess {
   width: 49px;
   height: 48px;
}

.hovered {
   background: #164258;
}

#drag, #drag2, #drag3, #drag4, #drag5 {
   cursor: grab;
   position: relative;
}

#drag:active, #drag2:active, #drag3:active, #drag4:active, #drag5:active {
   cursor: grabbing;
}

#lobbyIdInput {
   margin: .6rem;
}

#menu {
   display: block;
   padding-top: 13%;
}

#boardMenu {
   display: none;
   padding-top: 13%;
}

#logo {
   height: 250px;
   width: 300px;
}

#arrow {
   height: 60px;
   width: 60px;
}

.battleship {
   background: url("../assets/Icons/Battleship.png") !important;
   width: 550px !important;
   height: 150px;
}

.carrier {
   background: url("../assets/Icons/Carrier.png") !important;
   width: 600px !important;
   height: 140px;
}

.destroyer {
   background: url("../assets/Icons/Destroyer.png") !important;
   width: 100px;
   height: 150px;
}

.patrol {
   background: url("../assets/Icons/Patrol_Boat.png") !important;
   width: 100px;
   height: 150px;
}

.submarine {
   background: url("../assets/Icons/Submarine.png") !important;
   width: 100px;
   height: 150px;
}